<div class="container container-user-credential">
    <div class="row justify-content-center">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#" routerLink='/user/login' routerLinkActive='active'>Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink='/user/registration' routerLinkActive='active'>Sign Up</a>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center">
        <div class="">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>