/* You can add global styles to this file, and also import other style files */
body{
    background-color: cyan;
}

input.form-control, input.form-control:focus{
    background-color: darkgray;
    color: black;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}

input.form-control:focus{
    box-shadow: none;
    border-bottom-color: black;
}

button[type=submit].btn{
    border-radius: 20px;
    background-color: #000;
    color: #fff;
}

div.form-group input.invalid{
    border: 1px solid #dc3545;
}

div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
}

div.form-group label{
    color: black;
    font-weight: bold;
}

div.form-group.required>label:first-child:after{
    content: '*';
    color: #dc3545;
    padding-left: 5px;
}

#toast-container > div {
    opacity: 1;
}

form{
    margin: 0px 16px;
}

.side-header {
    border-style: solid;
}

div.wrapper{
    background: blue;
    border-radius: 0px;
}

div.wrapped-div{
    position: absolute;
    align-self: center;
    width: 300px;
    background: gray;
    border-radius: 20px;
    top: 10%;
    left: 30%;
    text-align: center;
}

.div.tap-header{
    float: left;
}